modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]
publicDir = "dist/public"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["stripe:2.0.0", "javascript_database:1.0.0", "sendgrid:1.0.0"]
expertMode = true

[userenv]

[userenv.production]
SEED_DB = "true"

[userenv.shared]
ADMIN_EMAILS = "jack.stafford@aetherius.org,mrjackstafford@gmail.com"
VAPID_PUBLIC_KEY = "BIJYovM8PpFwk9IrtYsv7RdP1pxbSrubPSIdG3M1oOwoXNgaOv8ABaOb3GAisrANyV8_CXRtkAFwt87-y8_IUXU"
VAPID_SUBJECT = "mailto:support@prayforchange.org"
SITE_URL = "https://prayforchange.org"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
